*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   font-size: 22px;
   line-height: 2;
   background-color: black;
   color: white;
}

.contenedor{
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
    grid-template-rows: auto auto auto;
}

.parte{
    background-color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 22px;
    border: bisque 1px solid;
    border-radius: 2em;
    border-color: green;
    box-shadow: 0 0 10em;
    text-align: center;
    font-size: 30px;
}

h1{
    text-align: center;
    color: rosybrown;
    padding: 20px;
    margin: 20px auto;
    background-color:gold;
    padding: 1px;
    border-radius: 20%;
}
.contenedor:hover{
    color:red
}
.parte:hover{
    color: black;
}

.parte-1{
    background-color: orange;
}

.parte-2{
    background-color: blue;
}

.parte-3{
    background-color: green;
}

.parte-4{
    background-color: gold;
}

.parte-5{
    background-color: pink;
}

.parte-6{
    background-color: violet;
}

.parte-7{
    background-color: aqua;
}

.parte-8{
    background-color: peru;
}

.parte-9{
    background-color: gray;
}

h1:hover{
    color: blue;
}
