*{
    padding: 0;
    margin: 0;
}

body{
    background-color: chocolate;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkolivegreen;
    background-color: darkgray;
    font-size: 3em;
    border: yellow solid 5px;
    border-radius: 10%;
    box-shadow: 0 0 1em black ;
    width: 30%;
    text-align: center;
    margin: 100px auto;
    margin-top: 2rem;
}

h1:hover{
    color: brown;
}

.contenedor{
    background-color: cornflowerblue;
    margin: 100px auto;
    padding: 22px auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: auto auto auto ;
}

.imagen{
    background-color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 22px;
    border: bisque 1px solid;
    border-radius: 1em;
    border-color: green;
    box-shadow: 0 0 10em;
    text-align: center;
    font-size: 30px;
}