#titulo{
    color:navajowhite
}
p{
    color: blue;
}

div p{
    font-size: 24px;
}

div h1, div h2{
    color: darkgreen;
    font-size: 50px;
}

/*Comentario css*/

.parrafo{
    color: purple;
    font-size: 50px;
    border: 10px red outset;
    border-width: 1cm;
    border-radius: 1cm;
    background-color: antiquewhite;
    background-image: url("carro.jpg");
}

body {
    background-color: burlywood;
    background-image: url("carro.jpg");
    background-size: 200px 400px;
    background-repeat: no-repeat;
    background-position: center;
}