*{
    padding: 0;
    margin: 0;
}

body{
    background-color: chocolate;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkolivegreen;
    background-color: darkgray;
    font-size: 3em;
    border: yellow solid 5px;
    border-radius: 10%;
    box-shadow: 0 0 1em black ;
    width: 30%;
    text-align: center;
    margin: 100px auto;
    margin-top: 2rem;
}

h1:hover{
    color: brown;
}

.contenedor{
    width: 750px;
    height: 600px;
    background-color: cornflowerblue;
    margin: 100px auto;
    margin-top: 2rem;
    padding: 22px auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    grid-template-areas: 
    "imagen-1 imagen-2 imagen-2 imagen-3"
    "imagen-1 imagen-4 imagen-4 imagen-4" 
    "imagen-5 imagen-6 imagen-7 imagen-7"
    "imagen-8 imagen-6 imagen-9 imagen-9"
    ;
}

.imagen{
    background-color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 22px;
    border: bisque 1px solid;
    border-color: green solid;
    box-shadow: 0 0 1em;
    text-align: center;
    font-size: 30px;
    transition: 0.5s;
    object-fit: cover;

}
.imagen-1:hover{
    transform: scale(1.2);
}
.imagen-2:hover{
    transform: scale(1.2);
}
.imagen-3:hover{
    transform: scale(1.2);
}
.imagen-4:hover{
    transform: scale(1.2);
}
.imagen-5:hover{
    transform: scale(1.2);
}
.imagen-6:hover{
    transform: scale(1.2);
}
.imagen-7:hover{
    transform: scale(1.2);
}
.imagen-8:hover{
    transform: scale(1.2);
}
.imagen-9:hover{
    transform: scale(1.2);
}

.imagen-1{
    grid-area: imagen-1;
    background-image: url(img/carro1.jpeg);
    background-size: cover;
    background-position: center;
    
}
.imagen-2{
    grid-area: imagen-2;
    background-image: url(img/carro2.jpeg);
    background-size: cover;
    background-position: center;
}
.imagen-3{
    grid-area: imagen-3;
    background-image: url(img/carro3.jpeg);
    background-size: cover;
    background-position: center;
}
.imagen-4{
    grid-area: imagen-4;
    background-image: url(img/carro4.jpeg);
    background-size: cover;
    background-position: center;
}
.imagen-5{
    grid-area: imagen-5;
    background-image: url(img/carro5.jpeg);
    background-size: cover;
    background-position: center;
}
.imagen-6{
    grid-area: imagen-6;
    background-image: url(img/carro6.jpeg);
    background-size: cover;
    background-position: center;
}
.imagen-7{
    grid-area: imagen-7;
    background-image: url(img/carro7.jpeg);
    background-size: cover;
    background-position: center;
}
.imagen-8{
    grid-area: imagen-8;
    background-image: url(img/carro8.jpeg);
    background-size: cover;
    background-position: center;
}
.imagen-9{
    grid-area: imagen-9;
    background-image: url(img/carro9.jpeg);
    background-size: cover;
    background-position: center;
}

@media(max-width: 750px) {
    body{
        background-color: darkcyan;
    }
    .contenedor{
        width: auto;
        background-color: burlywood;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2fr 2fr 1fr 2fr 2fr 1fr 1fr 2fr;
        grid-template-areas: 
            "imagen-1 imagen-2"
            "imagen-1 imagen-4"
            "imagen-1 imagen-3"
            "imagen-5 imagen-3"
            "imagen-7 imagen-3"
            "imagen-7 imagen-8"
            "imagen-6 imagen-8"
            "imagen-6 imagen-9";
    }
}